<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>

<div th:replace="fragments/header :: header-css"></div>

<link
	th:href="@{/assets/global/plugins/datatables/keyTable.bootstrap.css}"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/assets/global/plugins/datatables/datatables.min.css}"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css}"
	rel="stylesheet" type="text/css" />

</head>

<body
	class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-closed">

	<!-- BEGIN HEADER -->
	<div th:replace="layout :: header-top"></div>
	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->
	<div class="page-container">

		<!-- BEGIN SIDEBAR -->
		<div th:replace="layout :: page-container-sidebar"></div>
		<!-- END SIDEBAR -->

		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">

			<!-- BEGIN CONTENT BODY -->
			<div class="page-content">

			
				<div class="row">
					<div class="col-md-12">

						<input hidden="true" type="text" id="district_id" name="district_id" th:value="${district.id}" />

						<div id="content"></div>

					</div>
				</div>


			</div>
			<!-- END CONTENT BODY -->
		</div>
		<!-- END CONTENT -->
		<!-- <div th:replace="layout :: page-container-quick-sidebar"/> -->
	</div>
	<!-- END CONTAINER -->
	<div th:replace="layout :: footer"></div>
	<div th:replace="fragments/footer :: footer-js"></div>

	<script th:src="@{/assets/global/plugins/datatables/datatables.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/assets/global/plugins/datatables/dataTables.keyTable.js}"
		type="text/javascript"></script>

	<!-- BEGIN PAGE LEVEL PLUGINS -->

	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->


	<script type="text/javascript">
		$(document).ready(function() {
			
				var DistrictID = $("#district_id").val();

				
				var sUrl ="/MFCredit/district/" + DistrictID+"/view";

				$.get(sUrl, function(data) {

					$('#content').html(data);
				});

			});
		</script>

	<script type="text/javascript">
	$("#districtFormModal").on("show.bs.modal", function(e) {
		
	    var link = $(e.relatedTarget);
	    
	    
	    var districtID = $("#district_id").val();

	    if(link.attr("href").indexOf('district/add')>0)
	    {
	    	$(this).find(".modal-title").html("/district/"+districtID+link.attr("href"));
		    $(this).find(".modal-body").load("/district/"+districtID+link.attr("href"));
	    }
	    else
    	{
	    	$(this).find(".modal-title").html(link.attr("href"));
		    $(this).find(".modal-body").load(link.attr("href"));
    	}
	});
	
	

	
</script>











	<!-- END PAGE LEVEL SCRIPTS -->
</body>
</html>