<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

	<title>
		MFLoan | Organizations
	</title>
	
	<div  th:replace="fragments/header :: header-css">
	</div>

	
	<link th:href="@{/assets/global/plugins/datatables/keyTable.bootstrap.css}" rel="stylesheet" type="text/css" />	
	
	<link th:href="@{/assets/global/plugins/datatables/datatables.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css}" rel="stylesheet" type="text/css" />



</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-closed">
	
	<!-- BEGIN HEADER -->
	<div th:replace="layout :: header-top"></div>
	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->
	<div class="page-container">

		<!-- BEGIN SIDEBAR -->
		<div th:replace="layout :: page-container-sidebar"> </div>
		<!-- END SIDEBAR -->
		
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">

			<!-- BEGIN CONTENT BODY -->
			<div class="page-content">

				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN BORDERED TABLE PORTLET-->
						<div class="portlet portlet-fit ">
							<div class="portlet-body">

								<div>
									<table class="table table-hover table-condensed table-striped table-bordered compact condensed" id="organizationTable">
										<thead>
											<tr>
												<th>Id</th>
												<th>Name</th>
												<th>Description</th>
												<th>OrgForm</th>												
												<th>Edit</th>
												<th>Delete</th>
											</tr>
										</thead>

										<tbody>
											
											<tr th:each="s : ${organizationList}">
												<td th:text="${s.id}">Id</td>
												<td th:text="${s.name}">Name</td>     
												<td th:text="${s.description}">Description</td>
												<td th:text="${s.orgForm.name}">Description</td>



												<td>
													<a data-remote="false" data-toggle="modal"
													data-target="#organizationFormModal" th:href="@{/organization/__${s.id}__/edit}"
													role="button" class="btn btn-xs blue-stripe"> Edit
													</a>
												</td>
												<td>
													<form th:action="@{/organization/__${s.id}__/remove}" method="post">
														<button type="submit" class="btn btn-xs red-stripe">Delete</button>
													</form>
												</td>
											</tr>
										</tbody>

									</table>
								</div>


								<div class="col-md-12">

									<!-- Default bootstrap modal example -->
									<div class="modal fade" id="organizationFormModal" tabindex="-1"
										role="dialog" aria-labelledby="myModalLabel"
										aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
													<h4 class="modal-title" id="myModalLabel">Modal title</h4>
												</div>
												<div class="modal-body">...</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default"
														data-dismiss="modal">Close</button>
													<button type="button" class="btn btn-primary">Save
														changes</button>
												</div>
											</div>
										</div>
									</div>


								</div>



								<div class="row">
									<div class="col-md-12">
										<a data-remote="false" data-toggle="modal"
											data-target="#organizationFormModal" th:href="@{/organization/add}"
											role="button" class="btn btn-large btn-primary"> Add
											Organization</a>
										<a data-remote="false" data-toggle="modal"
											data-target="#organizationFormModal" th:href="@{/bankData/add}"
											role="button" class="btn btn-large btn-primary"> Add
											Bank Data</a>
										<a data-remote="false" data-toggle="modal"
											data-target="#organizationFormModal" th:href="@{/department/add}"
											role="button" class="btn btn-large btn-primary"> Add
											Department</a>	
										<a data-remote="false" data-toggle="modal"
											data-target="#organizationFormModal" th:href="@{/information/add}"
											role="button" class="btn btn-large btn-primary"> Add
											Information</a>											
																																
									</div>
								</div>
							</div>
						</div>
						<!-- END BORDERED TABLE PORTLET-->
					</div>
				</div>
				
				
			<div class="row">
				<div class="col-md-12">

					<input hidden="true" type="text" id="organization_id" name="organization_id" />
					
					<div id="content"></div>

				</div>
			</div>				
				
				
			</div>
			<!-- END CONTENT BODY -->
		</div>
		<!-- END CONTENT -->
		<!-- <div th:replace="layout :: page-container-quick-sidebar"/> -->
	</div>
	<!-- END CONTAINER -->
	<div th:replace="layout :: footer"></div>
	<div th:replace="fragments/footer :: footer-js"></div>
	
	
	<script th:src="@{/assets/global/plugins/datatables/datatables.js}" type="text/javascript"></script>
	<script th:src="@{/assets/global/plugins/datatables/dataTables.keyTable.js}" type="text/javascript"></script>	
	
	<!-- BEGIN PAGE LEVEL PLUGINS -->

	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->

	
		<script type="text/javascript">
		$(document).ready(function() {

			var table = $('#organizationTable').DataTable({
		    	stateSave: true,
		    	"language": {"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"},
	    		"info":     false,
	    		keys: {
	    	        focus: ':eq(0)'
	    	    }
		    } );
			
			table.on('key-focus', function(e, datatable, cell) {
			
				var rowData = datatable.row(cell.index().row).data();

				$("#organization_id").val(rowData[0]);
				
				var sUrl ="/MFCredit/organization/" + rowData[0]+"/view";
				
				$.get(sUrl, function(data) {

					$('#content').html(data);
				});

				});

			});
		</script>
		
			<script>

		
function updateOrgFormId(sel)
{
    $("#orgFormId").val(sel.value);
}

function updateAddressId(sel)
{
    $("#addressId").val(sel.value);
}

function updateRegionId(sel)
{
    $("#regionId").val(sel.value);
}

function updateDistrictId(sel)
{
    $("#districtId").val(sel.value);
}

function updateAokmotuId(sel)
{
    $("#aokmotuId").val(sel.value);
}

function updateVillageId(sel)
{
    $("#villageId").val(sel.value);
}

function updateIdentityDocTypeId(sel)
{
    $("#identityDocTypeId").val(sel.value);
}

function updateIdentityDocGivenById(sel)
{
    $("#identityDocGivenById").val(sel.value);
}


	</script>
           
	<script type="text/javascript">
	$("#organizationFormModal").on("show.bs.modal", function(e) {
		
	    var link = $(e.relatedTarget);
	    

	    var organizationID = $("#organization_id").val();

   
	    if(link.attr("href").indexOf('bankData/add')>0)
	    {
	    	$(this).find(".modal-title").html(link.attr("href").replace("/bankData/add","/organization/"+organizationID+"/bankData/add"));
		    $(this).find(".modal-body").load(link.attr("href").replace("/bankData/add","/organization/"+organizationID+"/bankData/add"));
	    }
	    else
	    if(link.attr("href").indexOf('information/add')>0)
	    {
	    	var url = link.attr("href");

	    	$(this).find(".modal-title").html(link.attr("href").replace("/information/add","/2/"+organizationID+"/information/add"));
		    $(this).find(".modal-body").load(link.attr("href").replace("/information/add","/2/"+organizationID+"/information/add"));	    	
	    	
	    	
	    } else
	    if(link.attr("href").indexOf('department/add')>0)
		    
	    {
	    	$(this).find(".modal-title").html(link.attr("href").replace("/department/add","/organization/"+organizationID+"/department/add"));
		    $(this).find(".modal-body").load(link.attr("href").replace("/department/add","/organization/"+organizationID+"/department/add"));
	    }
		    
	    else
    	{
	    	$(this).find(".modal-title").html(link.attr("href"));
		    $(this).find(".modal-body").load(link.attr("href"));
    	}
	});
	
	

	
</script>           
            
            
            
            
            
            
            
            
            
            
            
	<!-- END PAGE LEVEL SCRIPTS -->
</body>
</html>