<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

</head>



<body>






								<div class="row">
									<div class="col-md-4">
										<div class="panel panel-primary">
											<div class="panel-heading">
												<h3 class="panel-title">Village information</h3>
											</div>
											<div class="panel-body">
												<dl class="dl-horizontal">

												</dl>


												<dl class="dl-horizontal">
													<dt>Name</dt>
													<dd th:text="${orgForm.name}">${Village.name}</dd>
												</dl>
											</div>
										</div>

									</div>


								</div>











</body>
</html>