<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

</head>



<body>

	<form th:action="@{/staff/save}" id="form_sample_2"
		class="form-horizontal" method="post" th:object="${staff}">
		<div class="form-body">
			<div class="alert alert-danger display-hide">
				<button class="close" data-close="alert"></button>
				You have some form errors. Please check below.
			</div>
			<!-- 
                     <div class="alert alert-success display-hide">
                     	<button class="close" data-close="alert"></button> Your form validation is successful! 
                     </div>
                     -->
			<div class="form-group  margin-top-20">
				<label class="control-label col-md-3">Name <span
					class="required"> * </span>
				</label>
				<div class="col-md-4">
					<input hidden="true" type="text" id="id" name="id"
						th:field="*{id}" />
					<div class="input-icon right">
						<i class="fa"></i> <input type="text" class="form-control"
							name="name" th:field="*{name}" />
					</div>
				</div>
			</div>
		</div>
		
					<div class="form-group  margin-top-20">
				<label class="control-label col-md-3">Enabled <span
					class="required"> * </span>
				</label>
				<div class="col-md-4">

					<div class="input-icon right">
						<i class="fa"></i> <input type="text" class="form-control"
							name="enabled" th:field="*{enabled}" />
					</div>
				</div>
			</div>
			
		
			<div class="form-group  margin-top-20">
				<label class="control-label col-md-3">Person<span
					class="required"> * </span>
				</label>
				<div class="col-md-4">
					<select th:field="*{person}" >
					  <option th:each="personInList : ${personList}" 
					          th:value="${personInList.id}"
					          th:text="${personInList.name}"
					          
					          >Person</option>
					</select>
				
				</div>
			</div>	
			


			<div class="form-group  margin-top-20">
				<label class="control-label col-md-3">Organization<span
					class="required"> * </span>
				</label>
				<div class="col-md-4">
					<select th:field="*{organization}" >
					  <option th:each="organizationInList : ${organizationList}" 
					          th:value="${organizationInList.id}"
					          th:text="${organizationInList.name}"
					          
					          >Organization</option>
					</select>
				
				</div>
			</div>	
			
			<div class="form-group  margin-top-20">
				<label class="control-label col-md-3">Department<span
					class="required"> * </span>
				</label>
				<div class="col-md-4">
					<select th:field="*{department}" >
					  <option th:each="departmentInList : ${departmentList}" 
					          th:value="${departmentInList.id}"
					          th:text="${departmentInList.name}"
					          
					          >Department</option>
					</select>
				
				</div>
			</div>
			
			<div class="form-group  margin-top-20">
				<label class="control-label col-md-3">Position<span
					class="required"> * </span>
				</label>
				<div class="col-md-4">
					<select th:field="*{position}" >
					  <option th:each="positionInList : ${positionList}" 
					          th:value="${positionInList.id}"
					          th:text="${positionInList.name}"
					          
					          >Position</option>
					</select>
				
				</div>
			</div>		
			
										
		
		
		<div class="form-actions">
			<div class="row">
				<div class="col-md-offset-3 col-md-9">
					<button type="submit" class="btn green">Submit</button>
					<button type="button" class="btn default"
						onclick="window.location.href='/staff/list'">Cancel</button>
				</div>
			</div>
		</div>
	</form>

</body>
</html>