<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

</head>



<body>





	<div class="tabbable-custom ">
		<ul class="nav nav-tabs " id="village_tabs">
			<li class="active">
				<a href="#debtorListOfVillage" data-toggle="tab">Заемщик</a>
			</li>
			<li>
				<a href="#loanListOfVillage" data-toggle="tab">Кредитный договор</a>
			</li>
		</ul>
		
		<div class="tab-content">

			<div class="tab-pane active" id="debtorListOfDistrict">
			</div>
			<div class="tab-pane" id="loanListOfDistrict">
			</div>
		</div>
	</div>







</body>
</html>