<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>MFLoan | Loans</title>
<div th:replace="fragments/header :: header-css" />
<link th:href="@{/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" type="text/css" />
</head>
<body
	class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-closed">
	<!-- BEGIN HEADER -->
	<div th:replace="layout :: header-top" />
	<!-- END HEADER -->
	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
		<div th:replace="layout :: page-container-sidebar" />
		<!-- END SIDEBAR -->
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<!-- BEGIN CONTENT BODY -->
			<div class="page-content">
				<!-- BEGIN PAGE HEADER-->
				<h1 class="page-title">
					Loans
					<!-- 
					<small>create, view, edit, delete loans </small>
					 -->
				</h1>
				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li><i class="icon-home"></i> <a th:href="@{/}">Home</a> <i class="fa fa-angle-right"></i></li>
						<li><span>Loans</span></li>
					</ul>
					<div class="page-toolbar">
						<div class="btn-group pull-right">
							<button type="button"
								class="btn btn-fit-height grey-salt dropdown-toggle"
								data-toggle="dropdown" data-hover="dropdown" data-delay="1000"
								data-close-others="true">
								Actions <i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu pull-right" role="menu">
								<li><a href="#"> <i class="icon-bell"></i> Action </a></li>
								<li><a href="#"> <i class="icon-shield"></i> Another action </a></li>
								<li><a href="#"> <i class="icon-user"></i> Something else here </a></li>
								<li class="divider"></li>
								<li><a href="#"> <i class="icon-bag"></i> Separated link </a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN BORDERED TABLE PORTLET-->
						<div class="portlet light portlet-fit ">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-settings font-green"></i> 
									<span class="caption-subject font-green sbold uppercase">Loans</span>
								</div>
							</div>
							<div class="portlet-body">
								<div class="table-scrollable table-scrollable-borderless">
									<table class="table table-hover table-light" id="orders">
										<thead>
											<tr>
												<th>Id</th>
												<th>Registration number</th>
												<th>Registration date</th>
												<th>Amount</th>
												<th>Currency</th>
												<th>Loan type</th>
												<th>Loan state</th>
												<th>Supervisor id</th>
												<th>Has sub loan</th>
												<th>Parent loan id</th>
												<th>Credit order id</th>
												<th>View Details</th>
												<th>Edit</th>
												<th>Delete</th>
											</tr>
										</thead>
										<tbody>
											<ordercheck th:if="${#lists.isEmpty(loans)}">
												<tr class="no-records-found" style="text-align: center;">
													<td colspan="15">No matching records found</td>
												</tr>
											</ordercheck>
											<order th:each="loan : ${loans}">
												<tr class="clickable-row">
													<td th:text="${loan.id}">Id</td>
													<td th:text="${loan.regNumber}">REG123</td>
													<td th:text="${loan.regDate}">01.01.1970</td>
													<td th:text="${loan.amount}">1000.00</td>
													<td th:text="${loan.currency.name}">RUB</td>
													<td th:text="${loan.loanType.name}">Type 1</td>
													<td th:text="${loan.loanState.name}">State 1</td>
													<td th:text="${loan.supervisorId}">1</td>
													<td th:text="${loan.hasSubLoan}">true</td>
													<td th:text="${loan.parentLoan!=null} ? ${loan.parentLoan.id} : 'null'">0</td>
													<td th:text="${loan.creditOrder.id}">1</td>
													<td>
														<a th:href="@{/manage/debtor/__${loan.debtor.id}__/loan/__${loan.id}__/view}" class="btn btn-outline btn-circle btn-sm blue">View Details</a>
													</td>
													<td>
														<a class="btn btn-outline btn-circle btn-sm blue" data-toggle="modal" th:href="${'#largeLoan' + {loan.id}}">Edit</a>
													</td>
													<td>
														<form th:action="@{/manage/debtor/__${debtorId}__/loan/delete}" method="post" onsubmit="return confirm('Are you sure?') ? true : false;">
															<input hidden="true" type="text" id="id" name="id" th:value="${loan.id}" />
															<button type="submit" class="btn btn-outline btn-circle dark btn-sm red">Delete</button>
														</form>
													</td>
												</tr>
											</order>
										</tbody>
									</table>
								</div>
								
							</div>
						</div>
						<!-- END BORDERED TABLE PORTLET-->
					</div>
				</div>
			</div>
			<!-- END CONTENT BODY -->
		</div>
		<!-- END CONTENT -->
		<!-- <div th:replace="layout :: page-container-quick-sidebar"/> -->
	</div>
	<!-- END CONTAINER -->
	<div th:replace="layout :: footer" />
	<div th:replace="fragments/footer :: footer-js" />
	<script th:src="@{/assets/pages/scripts/ui-modals.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/pages/scripts/form-validation.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/pages/scripts/components-date-time-pickers.min.js}" type="text/javascript"></script>
</body>
</html>