<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

	<title>
		MFLoan | Systems
	</title>
	
	<div  th:replace="fragments/header :: header-css">
	</div>

	
	<link th:href="@{/assets/global/plugins/datatables/keyTable.bootstrap.css}" rel="stylesheet" type="text/css" />	
	
	<link th:href="@{/assets/global/plugins/datatables/datatables.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css}" rel="stylesheet" type="text/css" />



</head>

<body id="bodyPart" class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-closed">
	
	<!-- BEGIN HEADER -->
	<div th:replace="layout :: header-top"></div>
	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->
	<div class="page-container">

		<!-- BEGIN SIDEBAR -->
		<div th:replace="layout :: page-container-sidebar"> </div>
		<!-- END SIDEBAR -->
		
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">

			<!-- BEGIN CONTENT BODY -->
			<div class="page-content" id="cSystemListBodyPage">

				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN BORDERED TABLE PORTLET-->
						<div class="portlet portlet-fit ">
							<div class="portlet-body">

								<div>
									<table class="table table-hover table-condensed table-striped table-bordered compact condensed" id="cSystemTable">
										<thead>
											<tr>
												<th>Id</th>
												<th>Name</th>
												<th>View</th>
												<th>Edit</th>
												<th>Delete</th>
											</tr>
										</thead>

										<tbody>
											
											<tr th:each="s : ${cSystemList}">
												<td th:text="${s.id}">Id</td>
												<td th:text="${s.name}">Name</td>
												<td>
													<a  th:href="@{/cSystem/__${s.id}__/details}"
													role="button" class="btn btn-xs green-stripe"> View
													</a>
												</td>												
												<td>
													<a data-remote="false" data-toggle="modal"
													data-target="#cSystemFormModal" th:href="@{/cSystem/__${s.id}__/edit}"
													role="button" class="btn btn-xs blue-stripe"> Edit
													</a>
												</td>
												<td>
													<form th:action="@{/cSystem/__${s.id}__/remove}" method="post">
														<button type="submit" class="btn btn-xs red-stripe">Delete</button>
													</form>
												</td>
											</tr>
										</tbody>

									</table>
								</div>




								<div class="col-md-12">

									<!-- Default bootstrap modal example -->
									<div class="modal fade" id="cSystemFormModal" tabindex="-1"
										role="dialog" aria-labelledby="myModalLabel"
										aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
													<h4 class="modal-title" id="myModalLabel">Modal title</h4>
												</div>
												<div class="modal-body">
												
												
												
												
												
												
												

	<form th:action="@{/cSystem/save}" id="cSystemForm"
		class="form-horizontal" method="post" th:object="${cSystem}">
		<div class="form-body">
			<div class="alert alert-danger display-hide">
				<button class="close" data-close="alert"></button>
				You have some form errors. Please check below.
			</div>
			<!-- 
                     <div class="alert alert-success display-hide">
                     	<button class="close" data-close="alert"></button> Your form validation is successful! 
                     </div>
                     -->
			<div class="form-group  margin-top-20">
				<label class="control-label col-md-3">Name <span
					class="required"> * </span>
				</label>
				<div class="col-md-4">
					<input hidden="true" type="text" id="id" name="id"
						th:field="${cSystem.id}" />
						
					<input hidden="true" type="text" id="openModal" name="openModal" th:value="${openModal}"/>


						
					<div class="input-icon right">
						<i class="fa"></i> <input type="text" class="form-control"
							name="name" th:field="${cSystem.name}" />
							<p th:errors="*{name}">Incorrect name</p>
							
           
            <script th:inline="javascript">
            /*<![CDATA[*/

            	

            /*]]>*/
            </script> 							
					</div>
				</div>
			</div>
		</div>
		<div class="form-actions">
			<div class="row">
				<div class="col-md-offset-3 col-md-9">
					<button id="cSystemSubmitButton" type="submit" class="btn green">Submit</button>
					<button type="button" class="btn default"
						onclick="window.location.href='/cSystem/list'">Cancel</button>
				</div>
			</div>
		</div>
	</form>
	
												
												
												
												
												
												
												
												
												
												
												</div>
												<div class="modal-footer">
													
												</div>
											</div>
										</div>
									</div>


								</div>



								<div class="row">
									<div class="col-md-12">
										<a data-remote="false" data-toggle="modal"
											data-target="#cSystemFormModal" th:href="@{/cSystem/add}"
											role="button" class="btn btn-large btn-primary"> Add
											System</a>
										<a data-remote="false" data-toggle="modal"
											data-target="#cSystemFormModal" th:href="@{/information/add}"
											role="button" class="btn btn-large btn-primary"> Add
											System Information</a>	
											
										<a class="btn green" data-toggle="modal" href="#cSystemFormModal">
												Add New Applied Entity List <i class="fa fa-plus"></i>
										</a>																					
									</div>
								</div>
							</div>
						</div>
						<!-- END BORDERED TABLE PORTLET-->
					</div>
				</div>
		
			<div class="row">
				<div class="col-md-12">

					<input hidden="true" type="text" id="cSystem_id" name="cSystem_id" />
					
					<div id="content"></div>

				</div>
			</div>				
				
				
			</div>
			<!-- END CONTENT BODY -->
		</div>
		<!-- END CONTENT -->
		<!-- <div th:replace="layout :: page-container-quick-sidebar"/> -->
	</div>
	<!-- END CONTAINER -->
	<div th:replace="layout :: footer"></div>
	<div th:replace="fragments/footer :: footer-js"></div>
	
	
	<script th:src="@{/assets/global/plugins/datatables/datatables.js}" type="text/javascript"></script>
	<script th:src="@{/assets/global/plugins/datatables/dataTables.keyTable.js}" type="text/javascript"></script>	
	
	<!-- BEGIN PAGE LEVEL PLUGINS -->

	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->

	
		<script type="text/javascript">
		$(document).ready(function() {

			
			var openModal = $("#openModal").val();
			
			if(openModal == "1") $('#cSystemFormModal').modal('show');
			
			var table = $('#cSystemTable').DataTable({
		    	stateSave: true,
		    	"language": {"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"},
	    		"info":     false,
	    		keys: {
	    	        focus: ':eq(0)'
	    	    }
		    } );
			
			table.on('key-focus', function(e, datatable, cell) {
			
				var rowData = datatable.row(cell.index().row).data();


				
				$("#cSystem_id").val(rowData[0]);
				
				var sUrl ="/MFCredit/cSystem/" + rowData[0]+"/view";
				
				$.get(sUrl, function(data) {

					$('#content').html(data);
				});

				});

			});
		</script>
           
          
           
           
<!-- END PAGE LEVEL PLUGINS            
            
	<script type="text/javascript">
	$("#cSystemFormModal").on("show.bs.modal", function(e) {
		
	    var link = $(e.relatedTarget);
	    
	    
	    var cSystemID = $("#cSystem_id").val();

	    if(link.attr("href").indexOf('district/add')>0)
	    {
	    	$(this).find(".modal-title").html(link.attr("href").replace("/district/add","/cSystem/"+cSystemID+"/district/add"));
		    $(this).find(".modal-body").load(link.attr("href").replace("/district/add","/cSystem/"+cSystemID+"/district/add"));
	    }
	    else
    	{
	    	$(this).find(".modal-title").html(link.attr("href"));
		    $(this).find(".modal-body").load(link.attr("href"));
    	}
	});
	

	
</script> 
	-->

           
            
            

            
            
            
            
            
            
	<!-- END PAGE LEVEL SCRIPTS -->
</body>
</html>