<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

</head>



<body>





	<div class="row">
		<div class="col-md-6">











			<div class="tabbable-custom ">
				<ul class="nav nav-tabs " id="information_tabs">
					<li class="active"><a href="#tab_15_1" data-toggle="tab">
							Address </a></li>
					<li><a href="#tab_15_2" data-toggle="tab"> Identity Doc </a></li>
					<li><a href="#tab_15_3" data-toggle="tab"> Contact </a></li>
					<li><a href="#tab_15_4" data-toggle="tab"> Bank Data </a></li>
					<li><a href="#tab_15_5" data-toggle="tab"> Structure </a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab_15_1">
1

					</div>
					<div class="tab-pane" id="tab_15_2">

2
					</div>
					<div class="tab-pane" id="tab_15_3">3</div>
					<div class="tab-pane" id="tab_15_4">
4
					</div>
					<div class="tab-pane" id="tab_15_5">
						
						5					</div>					
				</div>
			</div>

















		</div>


	</div>


<script type="text/javascript">

$(document).ready(function() {
    if (location.hash) {
        $("a[href='" + location.hash + "']").tab("show");
    }
    $(document.body).on("click", "a[data-toggle]", function(event) {
        location.hash = this.getAttribute("href");
    });
});
$(window).on("popstate", function() {
    var anchor = location.hash || $("a[data-toggle='tab']").first().attr("href");
    $("a[href='" + anchor + "']").tab("show");
});
</script>







</body>
</html>