<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

</head>



<body>






								<div class="row">
									<div class="col-md-4">
										<div class="panel panel-primary">
											<div class="panel-heading">
												<h3 class="panel-title">Message information</h3>
											</div>
											<div class="panel-body">
												<dl class="dl-horizontal">

												</dl>


												<dl class="dl-horizontal">
													<dt>MessageKey</dt>
													<dd th:text="${messageResource.messageKey}">${Village.name}</dd>
												</dl>
												<dl class="dl-horizontal">
													<dt>ENG</dt>
													<dd th:text="${messageResource.eng}">${Village.name}</dd>
												</dl>
												<dl class="dl-horizontal">
													<dt>RUS</dt>
													<dd th:text="${messageResource.rus}">${Village.name}</dd>
												</dl>
												<dl class="dl-horizontal">
													<dt>KGZ</dt>
													<dd th:text="${messageResource.kgz}">${Village.name}</dd>
												</dl>																								
											</div>
										</div>

									</div>


								</div>











</body>
</html>