<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>



<body>

	<div class="tabbable-custom ">
		<ul class="nav nav-tabs " id="role_tabs">
			<li class="active">
				<a href="#userListOfRole" data-toggle="tab">Район</a>
			</li>
		</ul>
		
		<div class="tab-content">
			<div class="tab-pane active" id="userListOfRole">


				<table
					class="table table-hover table-condensed table-striped table-bordered compact condensed"
					id="userTable">
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Code</th>
							<th>Role</th>
							<th>View</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>

					<tbody>

						<tr th:each="userInList : ${role.user}">
							<td th:text="${userInList.id}">Id</td>
							<td th:text="${userInList.name}">Name</td>
							<td><a th:href="@{/user/__${userInList.id}__/details}"
								role="button" class="btn btn-xs green-stripe"> View </a></td>
							<td><a data-remote="false" data-toggle="modal"
								data-target="#roleFormModal"
								th:href="@{/user/__${userInList.id}__/edit}"
								role="button" class="btn btn-xs blue-stripe"> Edit </a></td>

							<td>
								<form th:action="@{/user/__${userInList.id}__/remove}"
									method="post">
									<button type="submit" class="btn btn-xs red-stripe">Delete</button>
								</form>
							</td>
						</tr>
					</tbody>

				</table>



			</div>
			
		</div>
	</div>

</body>
</html>