<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

</head>



<body>



	<div class="tabbable-custom ">
		<ul class="nav nav-tabs " id="role_tabs">
			<li class="active">
				<a href="#userListOfRole" data-toggle="tab">Район</a>
			</li>
		</ul>
		
		<div class="tab-content">
			<div class="tab-pane active" id="roleListOfRole">


				<table
					class="table table-hover table-condensed table-striped table-bordered compact condensed"
					id="roleTable">
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Code</th>
							<th>Role</th>
							<th>View</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>

					<tbody>

						<tr th:each="roleInList : ${user.roles}">
							<td th:text="${roleInList.id}">Id</td>
							<td th:text="${roleInList.name}">Name</td>
							<td><a th:href="@{/role/__${roleInList.id}__/details}"
								role="button" class="btn btn-xs green-stripe"> View </a></td>
							<td><a data-remote="false" data-toggle="modal"
								data-target="#userFormModal"
								th:href="@{/role/__${roleInList.id}__/edit}"
								role="button" class="btn btn-xs blue-stripe"> Edit </a></td>

							<td>
								<form th:action="@{/role/__${roleInList.id}__/remove}"
									method="post">
									<button type="submit" class="btn btn-xs red-stripe">Delete</button>
								</form>
							</td>
						</tr>
					</tbody>

				</table>



			</div>
			
		</div>
	</div>












</body>
</html>