<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>MFLoan | OrgForms</title>
	<div  th:replace="fragments/header :: header-css"></div>
	<link th:href="@{/assets/global/plugins/datatables/keyTable.bootstrap.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/global/plugins/datatables/datatables.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css}" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="modal fade" id="modal_form" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Document Form</h3>
			</div>
			<div class="modal-body form">
				<form action="#" id="form" class="form-horizontal">
					<input type="hidden" value="" name="id" id="id"/>
					<div class="form-body">

						<div class="form-group">
							<label class="control-label col-md-3">Title</label>
							<div class="col-md-9">
								<input id="title" name="title" placeholder="Title" class="form-control" type="text">
								<span class="help-block"></span>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-3">Description</label>
							<div class="col-md-9">
								<input id="description" name="description" placeholder="Description" class="form-control" type="text">
								<span class="help-block"></span>
							</div>
						</div>

					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" id="btnSave" onclick="save()" class="btn btn-primary">Save</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>

<div class="page-container">
	<div th:replace="layout :: header-top"></div>
	<div th:replace="layout :: page-container-sidebar"></div>

	<div class="page-content-wrapper">
		<div class="page-content">
			<div class="row">
				<div class="col-md-12">

					<table class="table table-hover table-condensed table-striped table-bordered compact condensed" id="documentTable">
						<thead>
							<tr>
								<th>Id</th>
								<th>Title</th>
								<th>Description</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>

						<tbody></tbody>
					</table>

				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-success" onclick="add_document()"><i class="glyphicon glyphicon-plus"></i> Add Document </button>
				</div>
			</div>

		</div>
	</div>

	<div th:replace="layout :: footer"></div>
	<div th:replace="fragments/footer :: footer-js"></div>
</div>

<script th:src="@{/assets/global/plugins/datatables/datatables.js}" type="text/javascript"></script>
<script th:src="@{/assets/global/plugins/datatables/dataTables.keyTable.js}" type="text/javascript"></script>

<script type="text/javascript">

    var table;

    $(document).ready(function() {
       table = $("#documentTable").DataTable(
            {
				"processing": true,
				"order": [],
                "language": {"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"},
                "info":     false,
                "ajax": {
				    "url" : "/docflow/json/",
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "id" },
                    { "data": "title" },
                    { "data": "description" },
                    { "data": "id" },
                    { "data": "id" }
                ],
                keys: {
                    focus: ':eq(0)'
                },
				"columnDefs": [
                    {
                        "targets": [0],
                        "render": function (data, type, row) {
                            return '<a data-toggle="modal" data-target="#modal_form" href="#" onclick="view_document(' + data + ');" role="button" class="btn btn-xs green-stripe"> ' + data + ' </a>'
                        }
                    },
					{
						"targets": [3],
						"orderable": false,
                        "render": function (data, type, row) {
                            return '<a data-toggle="modal" data-target="#modal_form" href="#" onclick="edit_document(' + data + ');" role="button" class="btn btn-xs blue-stripe"> Edit </a>'
                        }
					},
                    {
                        "targets": [4],
                        "orderable": false,
                        "render": function (data, type, row) {
                            return '<a href="#" onclick="delete_document(' + data + ');" role="button" class="btn btn-xs red-stripe"> Delete </a>'
                        }
                    },
				],
        	}
        );

        $("input").change(function(){
            $(this).parent().parent().removeClass('has-error');
            $(this).next().empty();
        });
        $("textarea").change(function(){
            $(this).parent().parent().removeClass('has-error');
            $(this).next().empty();
        });
        $("select").change(function(){
            $(this).parent().parent().removeClass('has-error');
            $(this).next().empty();
        });

    });
    function add_document() {
        $("#form")[0].reset();
        $(".form-group").removeClass('has-error');
        $(".help-block").empty();
        $('#title').attr('disabled',false);
        $('#description').attr('disabled',false);
        $('#btnSave').attr('disabled',false);
        $("#id").val(0);
        $("#modal_form").modal('show');
        $(".modal-title").text("New Document");
    }
    function view_document(id) {
        $("#form")[0].reset();
        $(".form-group").removeClass('has-error');
        $(".help-block").empty();
        $.ajax({
            url : "/docflow/json/" + id,
            type: "GET",
            dataType: "JSON",
            success: function(data)
            {
                $('[name="id"]').val(data.id);
                $('[name="description"]').val(data.description);
                $('[name="title"]').val(data.title);
                $('#btnSave').attr('disabled',true);
                $('#title').attr('disabled',true);
                $('#description').attr('disabled',true);
                $("#modal_form").modal('show');
                $(".modal-title").text("Document");
            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                alert("Error get data from ajax");
            }
        });
    }
    function edit_document(id) {

        $("#form")[0].reset();
        $(".form-group").removeClass('has-error');
        $(".help-block").empty();
        $.ajax({
            url : "/docflow/json/" + id,
            type: "GET",
            dataType: "JSON",
            success: function(data)
            {
                $('[name="id"]').val(data.id);
                $('[name="description"]').val(data.description);
                $('[name="title"]').val(data.title);
                $('#title').attr('disabled',false);
                $('#description').attr('disabled',false);
                $('#btnSave').attr('disabled',false);
                $("#modal_form").modal('show');
                $(".modal-title").text("Edit Document");
            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                alert("Error get data from ajax");
            }
        });
    }
    function delete_document(id) {
        if(confirm('Are you sure delete this data?'))
        {
            $.ajax({
				url : "docflow/remove/"+id,
				type: "POST",
				dataType: "text",
				success: function(data)
				{
					reload_table();
				},
				error: function (jqXHR, textStatus, errorThrown)
				{
					alert('Error deleting data');
				}
			});
        }
    }
    function save() {

        $("#btnSave").text('Saving...');
        $("#btnSave").attr('disabled',true);
        $.ajax({
            url : "/docflow/add",
            type: "POST",
            data: $('#form').serialize(),
            dataType: "text",
            success: function(data)
            {
                reload_table();
            },
            error: function (jqXHR, textStatus, errorThrown)
            {
				alert("Erooooooooor");
            }
        });
        $("#modal_form").modal('hide');
        $('#btnSave').text('save');
        $('#btnSave').attr('disabled',false);
    }
    function reload_table() {
        table.ajax.reload(null,false);
    }

</script>

</body>
</html>