<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>MFLoan | Credit Order Details</title>
<div th:replace="fragments/header :: header-css" />
<link th:href="@{/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" type="text/css" />
</head>
<body
	class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-closed">
	<!-- BEGIN HEADER -->
	<div th:replace="layout :: header-top" />
	<!-- END HEADER -->
	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
		<div th:replace="layout :: page-container-sidebar" />
		<!-- END SIDEBAR -->
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<!-- BEGIN CONTENT BODY -->
			<div class="page-content">
				<!-- BEGIN PAGE HEADER-->
				<h1 class="page-title">
					Credit Order Details
					<small>create, view, edit, delete applied entity lists, mandatory documents and order terms </small>
				</h1>
				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li><i class="icon-home"></i> <a th:href="@{/}">Home</a> <i class="fa fa-angle-right"></i></li>
						<li><a th:href="@{/manage/order/list}">Credit Orders</a> <i class="fa fa-angle-right"></i></li>
						<li><span>Credit Order</span></li>
					</ul>
					<div class="page-toolbar">
						<div class="btn-group pull-right">
							<button type="button"
								class="btn btn-fit-height grey-salt dropdown-toggle"
								data-toggle="dropdown" data-hover="dropdown" data-delay="1000"
								data-close-others="true">
								Actions <i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu pull-right" role="menu">
								<li><a href="#"> <i class="icon-bell"></i> Action </a></li>
								<li><a href="#"> <i class="icon-shield"></i> Another action </a></li>
								<li><a href="#"> <i class="icon-user"></i> Something else here </a></li>
								<li class="divider"></li>
								<li><a href="#"> <i class="icon-bag"></i> Separated link </a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN BORDERED TABLE PORTLET-->
						<div class="portlet light portlet-fit ">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-settings font-green"></i> 
									<span class="caption-subject font-green sbold uppercase" th:text="'Credit Order : '+${order.regNumber}">Credit Order</span>
								</div>
							</div>
							<div class="portlet-body form">
								<form class="form-horizontal" role="form">
									<div class="form-body" style="padding: 20px">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label col-md-3">Id:</label>
													<div class="col-md-9">
														<p class="form-control-static" th:text="${order.id}">1</p>
													</div>
												</div>
											</div>
											<!--/span-->
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label col-md-3">Registration number:</label>
													<div class="col-md-9">
														<p class="form-control-static" th:text="${order.regNumber}">REG123</p>
													</div>
												</div>
											</div>
											<!--/span-->
										</div>
										<!--/row-->
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label col-md-3">Registration date:</label>
													<div class="col-md-9">
														<p class="form-control-static" th:text="${order.regDate}">01.01.1970</p>
													</div>
												</div>
											</div>
											<!--/span-->
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label col-md-3">Description:</label>
													<div class="col-md-9">
														<p class="form-control-static" th:text="${order.description}">Description</p>
													</div>
												</div>
											</div>
											<!--/span-->
										</div>
										<!--/row-->
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label col-md-3">Order State:</label>
													<div class="col-md-9">
														<p class="form-control-static" th:text="${order.creditOrderState.name}">Active</p>
													</div>
												</div>
											</div>
											<!--/span-->
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label col-md-3">Order Type:</label>
													<div class="col-md-9">
														<p class="form-control-static" th:text="${order.creditOrderType.name}">PPKR</p>
													</div>
												</div>
											</div>
											<!--/span-->
										</div>
										<!--/row-->
									</div>
								</form>
							</div>
						</div>
						<!-- END BORDERED TABLE PORTLET-->
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="tabbable-line boxless tabbable-reversed">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tab_0" data-toggle="tab"> Applied Entity Lists </a></li>
								<li><a href="#tab_1" data-toggle="tab"> Mandatory Documents </a></li>
								<li><a href="#tab_2" data-toggle="tab"> Order Terms </a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="tab_0">
									
									<div class="row">
										<div class="col-md-6">
											<!-- BEGIN BORDERED TABLE PORTLET-->
											<div class="portlet light portlet-fit ">
												<div class="portlet-title">
													<div class="caption">
														<i class="icon-settings font-red"></i> 
														<span class="caption-subject font-red sbold uppercase">Applied Entity List States</span>
													</div>
												</div>
												<div class="portlet-body">
													<div class="table-toolbar">
														<div class="row">
															<div class="col-md-6">
																<div class="btn-group">
																	<a class="btn red " data-toggle="modal" href="#basicStateNew">
																	Add New State
																	<i class="fa fa-plus"></i></a>
																</div>
															</div>
														</div>
													</div>
													<div class="table-scrollable table-scrollable-borderless">
														<table class="table table-hover table-light">
															<thead>
																<tr>
																	<th>Name</th>
																	<th>Edit</th>
																	<th>Delete</th>
																</tr>
															</thead>
															<tbody>
																<statecheck th:if="${#lists.isEmpty(states)}">
																	<tr class="no-records-found" style="text-align: center;">
																		<td colspan="8">No matching records found</td>
																	</tr>
																</statecheck>
																<state th:each="s : ${states}">
																	<tr>
																		<td th:text="${s.name}">Name</td>
																		<td>
																			<a class="btn btn-outline btn-circle btn-sm blue" data-toggle="modal" th:href="${'#basicState' + {s.id}}">Edit</a>
																		</td>
																		<td>
																			<form th:action="@{/manage/order/__${order.id}__/entitylist/state/delete}" method="post" onsubmit="return confirm('Are you sure?') ? true : false;">
																				<input hidden="true" type="text" id="id" name="id" th:value="${s.id}" />
																				<button type="submit" class="btn btn-outline btn-circle dark btn-sm red">Delete</button>
																			</form>
																		</td>
																	</tr>
																</state>
															</tbody>
					
														</table>
													</div>
													
													<!-- BEGIN Create modal for a new state -->
													<div class="modal fade" id="basicStateNew" tabindex="-1" role="basic" aria-hidden="true">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
																	<h4 class="modal-title">Save Applied Entity List State</h4>
																</div>
																<form th:action="@{/manage/order/__${order.id}__/entitylist/state/save}" id="form_sample_2" class="form-horizontal" method="post">
																	<div class="portlet-body">
																		<div class="form-body">
																			<div class="alert alert-danger display-hide">
																				<button class="close" data-close="alert"></button>
																				You have some form errors. Please check below.
																			</div>
																			<div class="form-group  margin-top-20">
																				<label class="control-label col-md-3">Name <span class="required"> * </span>
																				</label>
																				<div class="col-md-4">
																					<input hidden="true" type="text" id="id" name="id" th:value="${emptyState.id}"/>
																					<div class="input-icon right">
																						<i class="fa"></i> 
																						<input type="text" class="form-control" name="name" th:value="${emptyState.name}"/>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
																		<button type="submit" class="btn green">Save</button>
																	</div>
																</form>
															</div>
														</div>
													</div>
													<!-- END Create modal for a new state -->								
													
													<!-- BEGIN Create modal for each state -->
													<state th:each="s : ${states}">
														<div class="modal fade" th:id="${'basicState' + {s.id}}" tabindex="-1" role="basic" aria-hidden="true">
															<div class="modal-dialog">
																<div class="modal-content">
																	<div class="modal-header">
																		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
																		<h4 class="modal-title">Save Applied Entity List State</h4>
																	</div>
																	<form th:action="@{/manage/order/__${order.id}__/entitylist/state/save}" id="form_sample_2" class="form-horizontal" method="post">
																		<div class="portlet-body">
																			<div class="form-body">
																				<div class="alert alert-danger display-hide">
																					<button class="close" data-close="alert"></button>
																					You have some form errors. Please check below.
																				</div>
																				<div class="form-group  margin-top-20">
																					<label class="control-label col-md-3">Name <span class="required"> * </span>
																					</label>
																					<div class="col-md-4">
																						<input hidden="true" type="text" id="id" name="id" th:value="${s.id}"/>
																						<div class="input-icon right">
																							<i class="fa"></i> 
																							<input type="text" class="form-control" name="name" th:value="${s.name}"/>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="modal-footer">
																			<button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
																			<button type="submit" class="btn green">Save</button>
																		</div>
																	</form>
																</div>
															</div>
														</div>
													</state>
													<!-- END Create modal for each state -->
												</div>
											</div>
										</div>
					
										<div class="col-md-6">
											<!-- BEGIN BORDERED TABLE PORTLET-->
											<div class="portlet light portlet-fit ">
												<div class="portlet-title">
													<div class="caption">
														<i class="icon-settings font-red"></i>
														<span class="caption-subject font-red sbold uppercase">Applied Entity List Types</span>
													</div>
												</div>
												<div class="portlet-body">
													<div class="table-toolbar">
														<div class="row">
															<div class="col-md-6">
																<div class="btn-group">
																	<a class="btn red " data-toggle="modal" href="#basicTypeNew">
																	Add New Type
																	<i class="fa fa-plus"></i></a>
																</div>
															</div>
														</div>
													</div>
													<div class="table-scrollable table-scrollable-borderless">
														<table class="table table-hover table-light">
															<thead>
																<tr>
																	<th>Name</th>
																	<th>Edit</th>
																	<th>Delete</th>
																</tr>
															</thead>
															<tbody>
																<typecheck th:if="${#lists.isEmpty(types)}">
																<tr class="no-records-found" style="text-align: center;">
																	<td colspan="8">No matching records found</td>
																</tr>
																</typecheck>
																<type th:each="t : ${types}">
																<tr>
																	<td th:text="${t.name}">Name</td>
																	<td>
																		<a class="btn btn-outline btn-circle btn-sm blue" data-toggle="modal" th:href="${'#basicType' + {t.id}}">Edit</a>
																	</td>
																	<td>
																		<form th:action="@{/manage/order/__${order.id}__/entitylist/type/delete}" method="post" onsubmit="return confirm('Are you sure?') ? true : false;">
																			<input hidden="true" type="text" id="id" name="id" th:value="${t.id}" />
																			<button type="submit" class="btn btn-outline btn-circle dark btn-sm red">Delete</button>
																		</form>
																	</td>
																</tr>
																</type>
															</tbody>
														</table>
													</div>
													
													<!-- BEGIN Create modal for a new type -->
													<div class="modal fade" id="basicTypeNew" tabindex="-1" role="basic" aria-hidden="true">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
																	<h4 class="modal-title">Save Applied Entity List Type</h4>
																</div>
																<form th:action="@{/manage/order/__${order.id}__/entitylist/type/save}" id="form_sample_2" class="form-horizontal" method="post">
																	<div class="portlet-body">
																		<div class="form-body">
																			<div class="alert alert-danger display-hide">
																				<button class="close" data-close="alert"></button>
																				You have some form errors. Please check below.
																			</div>
																			<div class="form-group  margin-top-20">
																				<label class="control-label col-md-3">Name <span class="required"> * </span>
																				</label>
																				<div class="col-md-4">
																					<input hidden="true" type="text" id="id" name="id" th:value="${emptyType.id}"/>
																					<div class="input-icon right">
																						<i class="fa"></i> 
																						<input type="text" class="form-control" name="name" th:value="${emptyType.name}"/>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
																		<button type="submit" class="btn green">Save</button>
																	</div>
																</form>
															</div>
														</div>
													</div>
													<!-- END Create modal for a new type -->								
													
													<!-- BEGIN Create modal for each type -->
													<state th:each="t : ${types}">
														<div class="modal fade" th:id="${'basicType' + {t.id}}" tabindex="-1" role="basic" aria-hidden="true">
															<div class="modal-dialog">
																<div class="modal-content">
																	<div class="modal-header">
																		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
																		<h4 class="modal-title">Save Applied Entity List Type</h4>
																	</div>
																	<form th:action="@{/manage/order/__${order.id}__/entitylist/type/save}" id="form_sample_2" class="form-horizontal" method="post">
																		<div class="portlet-body">
																			<div class="form-body">
																				<div class="alert alert-danger display-hide">
																					<button class="close" data-close="alert"></button>
																					You have some form errors. Please check below.
																				</div>
																				<div class="form-group  margin-top-20">
																					<label class="control-label col-md-3">Name <span class="required"> * </span>
																					</label>
																					<div class="col-md-4">
																						<input hidden="true" type="text" id="id" name="id" th:value="${t.id}"/>
																						<div class="input-icon right">
																							<i class="fa"></i> 
																							<input type="text" class="form-control" name="name" th:value="${t.name}"/>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="modal-footer">
																			<button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
																			<button type="submit" class="btn green">Save</button>
																		</div>
																	</form>
																</div>
															</div>
														</div>
													</state>
													<!-- END Create modal for each type -->
												</div>
											</div>
											<!-- END BORDERED TABLE PORTLET-->
										</div>
									</div>
								
									<div class="portlet light portlet-fit">
										<div class="portlet-title">
											<div class="caption">
												<i class="icon-settings font-green"></i> 
												<span class="caption-subject font-green sbold uppercase">Applied Entity Lists</span>
											</div>
										</div>
										<div class="portlet-body">
											<div class="table-toolbar">
												<div class="row">
													<div class="col-md-6">
														<div class="btn-group">
															<a class="btn green" data-toggle="modal" href="#largeListNew">
															Add New Applied Entity List <i class="fa fa-plus"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
											
											<div class="table-scrollable table-scrollable-borderless">
												<table class="table table-hover table-light"
													id="entityLists">
													<thead>
														<tr>
															<th>Id</th>
															<th>List number</th>
															<th>List date</th>
															<th>Entity List State</th>
															<th>Entity List Type</th>
															<th>View Details</th>
															<th>Edit</th>
															<th>Delete</th>
														</tr>
													</thead>

													<tbody>
														<statecheck th:if="${#lists.isEmpty(entityList)}">
														<tr class="no-records-found" style="text-align: center;">
															<td colspan="8">No matching records found</td>
														</tr>
														</statecheck>
														<state th:each="l : ${entityList}">
														<tr class="clickable-row">
															<td th:text="${l.id}">Id</td>
															<td th:text="${l.listNumber}">AB0C1234</td>
															<td th:text="${l.listDate}">01.01.2017</td>
															<td th:text="${l.appliedEntityListState.name}">Active</td>
															<td th:text="${l.appliedEntityListType.name}">RPKR</td>
															<td>
																<a th:href="@{/manage/order/__${order.id}__/entitylist/__${l.id}__/view}" class="btn btn-outline btn-circle btn-sm blue">View Details</a>
															</td>
															<td>
																<a class="btn btn-outline btn-circle btn-sm blue" data-toggle="modal" th:href="${'#largeList' + {l.id}}">Edit</a>
															</td>
															<td>
																<form th:action="@{/manage/order/__${order.id}__/entitylist/delete}" method="post" onsubmit="return confirm('Are you sure?') ? true : false;">
																	<input hidden="true" type="text" id="id" name="id" th:value="${l.id}" />
																	<button type="submit" class="btn btn-outline btn-circle dark btn-sm red">Delete</button>
																</form>
															</td>
														</tr>
														</state>
													</tbody>
												</table>
											</div>
											
											<!-- BEGIN Create modal for a new list -->
											<div class="modal fade bs-modal-lg" id="largeListNew" tabindex="-1" role="dialog" aria-hidden="true">
				                                <div class="modal-dialog modal-lg">
				                                    <div class="modal-content">
				                                        <div class="modal-header">
				                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				                                            <h4 class="modal-title">Save Applied Entity List</h4>
				                                        </div>
														<form th:action="@{/manage/order/__${order.id}__/entitylist/save}" id="form_sample_2" class="form-horizontal" method="post">
															<div class="portlet-body">
						                                        <div class="form-body">
						                                            <div class="alert alert-danger display-hide">
						                                                <button class="close" data-close="alert"></button> You have some form errors. Please check below. 
						                                            </div>
						                                            <div class="form-group  margin-top-20">
						                                                <label class="control-label col-md-3">List Number
						                                                    <span class="required"> * </span>
						                                                </label>
						                                                <div class="col-md-4">
						                                                	<input hidden="true" type="text" id="id" name="id" th:value="${emptyList.id}"/>
						                                                    <div class="input-icon right">
						                                                        <i class="fa"></i>
						                                                        <input type="text" class="form-control" name="listNumber" th:value="${emptyList.listNumber}"/> 
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="form-group">
						                                                <label class="control-label col-md-3">List Date</label>
						                                                <div class="col-md-4">
						                                                    <div class="input-group date date-picker" data-date-format="yyyy-mm-dd">
						                                                        <input type="text" class="form-control" name="listDate" th:value="${emptyList.listDate}"/>
						                                                        <span class="input-group-btn">
						                                                            <button class="btn default" type="button">
						                                                                <i class="fa fa-calendar"></i>
						                                                            </button>
						                                                        </span>
						                                                    </div>
						                                                    <span class="help-block"> select a date </span>
						                                                </div>
						                                            </div>
						                                            <div class="form-group">
						                                                <label class="control-label col-md-3">Applied Entity List State
						                                                    <span class="required"> * </span>
						                                                </label>
						                                                <div class="col-md-4">
						                                                    <select class="form-control" name="stateId">
						                                                        <option value="">Select...</option>
						                                                        <option th:each="state : ${states}"
																		               th:value="${state.id}"
																		               th:text="${state.name}">Category 1</option>
						                                                    </select>
						                                                </div>
						                                            </div>
						                                            <div class="form-group">
						                                                <label class="control-label col-md-3">Applied Entity List Type
						                                                    <span class="required"> * </span>
						                                                </label>
						                                                <div class="col-md-4">
						                                                    <select class="form-control" name="typeId">
						                                                        <option value="">Select...</option>
						                                                        <option th:each="type : ${types}"
																		               th:value="${type.id}"
																		               th:text="${type.name}">Category 1</option>
						                                                    </select>
						                                                </div>
						                                            </div>
						                                        </div>
						                                	</div>
															<div class="modal-footer">
																<button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
																<button type="submit" class="btn green">Save</button>
															</div>
														</form>	                                        
				                                    </div>
				                                </div>
				                            </div>
				                            <!-- END Create modal for a new list -->
											
											<!-- BEGIN Create modal for each list -->
											<state th:each="l : ${entityList}">
												<div class="modal fade bs-modal-lg" th:id="${'largeList' + {l.id}}" tabindex="-1" role="basic" aria-hidden="true">
													<div class="modal-dialog modal-lg">
														<div class="modal-content">
															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
																<h4 class="modal-title">Save Applied Entity List</h4>
															</div>
															<form th:action="@{/manage/order/__${order.id}__/entitylist/save}" id="form_sample_2" class="form-horizontal" method="post">
																<div class="portlet-body">
						                                        <div class="form-body">
						                                            <div class="alert alert-danger display-hide">
						                                                <button class="close" data-close="alert"></button> You have some form errors. Please check below. 
						                                            </div>
						                                            <div class="form-group  margin-top-20">
						                                                <label class="control-label col-md-3">List Number
						                                                    <span class="required"> * </span>
						                                                </label>
						                                                <div class="col-md-4">
						                                                	<input hidden="true" type="text" id="id" name="id" th:value="${l.id}"/>
						                                                    <div class="input-icon right">
						                                                        <i class="fa"></i>
						                                                        <input type="text" class="form-control" name="listNumber" th:value="${l.listNumber}"/> 
						                                                    </div>
						                                                </div>
						                                            </div>
						                                            <div class="form-group">
						                                                <label class="control-label col-md-3">List Date</label>
						                                                <div class="col-md-4">
						                                                    <div class="input-group date date-picker" data-date-format="yyyy-mm-dd">
						                                                        <input type="text" class="form-control" name="listDate" th:value="${l.listDate}"/>
						                                                        <span class="input-group-btn">
						                                                            <button class="btn default" type="button">
						                                                                <i class="fa fa-calendar"></i>
						                                                            </button>
						                                                        </span>
						                                                    </div>
						                                                    <span class="help-block"> select a date </span>
						                                                </div>
						                                            </div>
						                                            <div class="form-group">
						                                                <label class="control-label col-md-3">Applied Entity List State
						                                                    <span class="required"> * </span>
						                                                </label>
						                                                <div class="col-md-4">
						                                                    <select class="form-control" name="stateId">
						                                                        <option value="">Select...</option>
						                                                        <states th:each="state : ${states}">
						                                                        <option th:if="${l.id > 0 and state.name == l.appliedEntityListState.name}"
																		               th:value="${state.id}"
																		               th:text="${state.name}"
																		               selected="selected">Category 1</option>
																		        <option th:unless="${l.id > 0 and state.name == l.appliedEntityListState.name}"
																		               th:value="${state.id}"
																		               th:text="${state.name}">Category 1</option>
																		        </states>
						                                                    </select>
						                                                </div>
						                                            </div>
						                                            <div class="form-group">
						                                                <label class="control-label col-md-3">Applied Entity List Type
						                                                    <span class="required"> * </span>
						                                                </label>
						                                                <div class="col-md-4">
						                                                    <select class="form-control" name="typeId">
						                                                        <option value="">Select...</option>
						                                                        <types th:each="type : ${types}">
						                                                        <option th:if="${l.id > 0 and type.name == l.appliedEntityListType.name}"
																		               th:value="${type.id}"
																		               th:text="${type.name}"
																		               selected="selected">Category 1</option>
																		        <option th:unless="${l.id > 0 and type.name == l.appliedEntityListType.name}"
																		               th:value="${type.id}"
																		               th:text="${type.name}">Category 1</option>
						                                                        </types>
						                                                    </select>
						                                                </div>
						                                            </div>
						                                        </div>
						                                	</div>
															<div class="modal-footer">
																<button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
																<button type="submit" class="btn green">Save</button>
															</div>
															</form>
														</div>
													</div>
												</div>
											</state>
											<!-- END Create modal for each list -->
										</div>
									</div>
								</div>
								<div class="tab-pane" id="tab_1">
									<div class="portlet light portlet-fit">
										<div class="portlet-body">
											<p> Mandatory documents </p>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="tab_2">
									<div class="portlet light portlet-fit">
										<div class="portlet-body">
											<p> Order terms </p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END CONTENT BODY -->
		</div>
		<!-- END CONTENT -->
		<!-- <div th:replace="layout :: page-container-quick-sidebar"/> -->
	</div>
	<!-- END CONTAINER -->
	<div th:replace="layout :: footer" />
	<div th:replace="fragments/footer :: footer-js" />
	<script th:src="@{/assets/pages/scripts/ui-modals.min.js}"
		type="text/javascript"></script>
	<script th:src="@{/assets/pages/scripts/form-validation.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/assets/pages/scripts/components-date-time-pickers.min.js}"
		type="text/javascript"></script>
</body>
</html>